<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Debug-only widget harness (AppWidgetHost) used to check and capture the widgets on the emulator. -->
        <activity
            android:name=".widget.WidgetPreviewActivity"
            android:exported="true"
            android:label="Widget preview"
            android:theme="@android:style/Theme.Material.NoActionBar" />
    </application>
</manifest>
